@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@800&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
  
}

/* .................coomom style,,,,,,,,,,,,,, */


h1,h2,h3,h4,h5,h6{

    font-family: 'Chakra Petch', sans-serif;

}

:root{
    --font-color:#9e0e5d;
}
html{
    scroll-behavior: smooth;
}






/* .................coomom style,,,,,,,,,,,,,, */

.menubar{
    background-color: #ee9fca;
    padding: 75px 0;
    overflow: hidden;

}
ul>li>a{
    font-weight: 500;
    color: black;
}

.header-sec .logo{
      font-family: 'Chakra Petch', sans-serif;
      font-weight: 800;
      color: #4F0E0E!important;
}


.carousel-background{
    height: calc(100vh-80px);
}
    .carousel-img img{


}
.caurosel-heading{
    font-weight: bold;
    color: white;
}
.caurosel-btn{
    text-decoration: none;
    padding: 15px 40px;
    background-color: #e97db8;
    color: white;
    font-weight: 600;
  

}
.caurosel-paragaraf{
    margin-bottom: 30px;
}
.carouselcaption{
    margin-top: -200px;

}
.toast-body{
    border-left: 5px solid var(--font-color);
}
.toast i{
    color: var(--font-color);
    margin-right: 10px;
}





/* .................top-style,,,,,,,,,,,,,, */


.top-main-section {
    margin-top: 7%;
}
.img-section img{
    width: 100%;
    border-radius: 10px;
    
}
.content-section{
    margin-left: 20px;
}
.content-section h2{
    font-weight: bold;
    color:#9e0e5d ;
    margin-top: 8%;
   

}
.content-section p{
    color: rgba(0,0,0,0.7);
    margin: 4% 0;
    margin-bottom: 40px;
}
.content-section a{
    text-decoration: none;
    font-weight: 600;
    padding: 15px 40px;
    background-color: #ee9fca;
    color: black;
    
}
.content-section a:hover{
   
    background-color:#84DFFF ;
    color: black;
}




/* .................pakage style,,,,,,,,,,,,,, */

.pakages{
    margin: 8% 0;
}
.pakage-heading{
    color: var(--font-color);
    font-weight: bold;
    margin-bottom: 14%;
    position: relative;
}
/* .pakage-heading::after{
    content: '';
    border-bottom: 2px solid var(--font-color);
    position: absolute;
    left: 50;
    top: 40px;
} */
.card-item h1,h4{
    color: #1a9cb6;

}
.card-item2{
    margin-top: -63px;
    background-color:#84DFFF;
    position: relative;
}


.card-footer a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.card-footer:hover{
    background-color: #ee9fca;
    color: black;

}
.mark-footer{
    background-color: #eb53a7!important;
}
.hot-pakage-btn{
    top: -10px;
    left: -10px;
    position: absolute;
}










/* .................customer says style,,,,,,,,,,,,,, */


.customer-says{
    margin-bottom: 7%;
}
.customer-says img{
    width: 20%;
    
    margin: 15px auto;
}
.customer-says h2{
    color: var(--font-color);
    font-weight: 500;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
}
.customer-says h2::after{
    position: relative;
    content: '';
    border-bottom: 1px solid #000;
    left: 50%;
    top: 20px;
    height: 50px;
    width: 3px;
}
.card-box{
   
    background-color: #f8eff4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.customer-says p{
    font-size: 14px;
    color: black;
}
.customer-says h6{
    font-weight: bold;
    color: var(--font-color);
    margin-top: 10px;
}
.customer-says span{
    font-size: 12px;
    color: var(--font-color);
}
.card-box-p{
    width: 70%;
    margin: auto;
}






/* .................coomom style,,,,,,,,,,,,,, */


.accordian-section{

}

.accordian-section h2{
      
        font-weight: bold;
        margin-bottom: 8%;
        margin-top: 5%;
        text-align: center;
}
.accordian-img{
    height: 70%;
}





/* .................booking style,,,,,,,,,,,,,, */

.book-heading{
    color: var(--font-color);
}
.booking input,
.booking textarea{
    display: block;
    border-bottom: 2px solid var(--font-color)!important;
    border: 0;
    outline: none;
}
.booking button{
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #ee9fca;
    font-weight: 600;
    margin-top: 25px;
}











/* .................footer style,,,,,,,,,,,,,, */


footer{
    background-color: #142F43;
    
}
footer i{
    background-color: var(--font-color);
    padding: 5px 6px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 5px;
   
}







/* .................meadia style,,,,,,,,,,,,,, */

@media (max-width:1199px){
    .accordin-items{
        margin-top: -60px;
    }
    .accordian-section h2{
        margin-bottom: 15%;
    }
    .booking button{
        margin-top: 5px;
    }
    .book-heading{
        margin-bottom: 0;
    }
    .booking textarea{
        width: 95%;
    }
  
}


@media (max-width:991px){

    .accordin-items{
       margin-bottom: 7%;
    }
    .accordian-header{
        margin-bottom: 10%;
    }
    .accordian-img{
        
        display: none;
    }
    
    
    .booking button{
        margin-top: 25px;
    }
    .book-heading{
        margin-top: 15px;
    }
    .booking-img{
       width: 80%;
       height: 80%;
       margin-bottom: 10px;
    }
    .card-box{
      
        width: 70%;
        margin:  10px auto;
    }
    .img-section{
        width: 80%;
        
    }
}


@media (max-width:767px) {

    .card-item{
        width: 70%!important;
        margin: auto!important;
    }
    .card-item2{
        padding: 0 !important;
        width: 70%!important;
        height: 95%!important;
        margin: auto!important;
        margin-top: 20px !important;
    }
    .img-section{
        width: 80%;
        margin: auto;
    }
    
        
    
}
@media (max-width:575px){
   
}

